<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.molit.icas.vr.time.VrTimeMapper">

    <select id="selectByVrId" resultType="kr.go.molit.icas.vr.time.domain.VrTimeVO">
        SELECT * FROM vr.tn_vr_time WHERE vr_id = #{vrId}
    </select>

    <insert id="insertTime">
        INSERT INTO vr.tn_vr_time (
            vr_id, onsite_hrs, offsite_hrs, total_hrs,
            frst_reg_dt, frst_reg_user_id, last_chg_dt, last_chg_user_id
        ) VALUES (
            #{vrId}, #{onsiteHrs}, #{offsiteHrs}, #{totalHrs},
            NOW(), #{frstRegUserId}, NOW(), #{lastChgUserId}
        )
    </insert>

    <update id="updateTime">
        UPDATE vr.tn_vr_time
        SET onsite_hrs       = #{onsiteHrs},
            offsite_hrs      = #{offsiteHrs},
            total_hrs        = #{totalHrs},
            last_chg_dt      = NOW(),
            last_chg_user_id = #{lastChgUserId}
        WHERE vr_id = #{vrId}
    </update>

    <delete id="deleteByVrId">
        DELETE FROM vr.tn_vr_time WHERE vr_id = #{vrId}
    </delete>

</mapper>
