<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.molit.icas.saf.batch.feed.SafFeedMapper">

    <select id="selectByBatchId" resultType="kr.go.molit.icas.saf.batch.feed.domain.SafFeedVO">
        SELECT * FROM saf.tn_saf_feed WHERE batch_id = #{batchId}
    </select>

    <insert id="insertFeed">
        INSERT INTO saf.tn_saf_feed (
            batch_id, fdstk_type_cd, addl_fdstk_dtl, waste_residue_yn,
            conv_proc_cd, orgn_cntry_cds,
            frst_reg_dt, frst_reg_user_id, last_chg_dt, last_chg_user_id
        ) VALUES (
            #{batchId}, #{fdstkTypeCd}, #{addlFdstkDtl}, #{wasteResidueYn},
            #{convProcCd}, #{orgnCntryCds},
            NOW(), #{frstRegUserId}, NOW(), #{lastChgUserId}
        )
    </insert>

    <update id="updateFeed">
        UPDATE saf.tn_saf_feed
        SET fdstk_type_cd    = #{fdstkTypeCd},
            addl_fdstk_dtl   = #{addlFdstkDtl},
            waste_residue_yn = #{wasteResidueYn},
            conv_proc_cd     = #{convProcCd},
            orgn_cntry_cds   = #{orgnCntryCds},
            last_chg_dt      = NOW(),
            last_chg_user_id = #{lastChgUserId}
        WHERE batch_id = #{batchId}
    </update>

    <delete id="deleteByBatchId">
        DELETE FROM saf.tn_saf_feed WHERE batch_id = #{batchId}
    </delete>

</mapper>
