<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.molit.icas.vr.cncls.VrCnclsMapper">

    <select id="selectByVrId" resultType="kr.go.molit.icas.vr.cncls.domain.VrCnclsVO">
        SELECT * FROM vr.tn_vr_cncls WHERE vr_id = #{vrId}
    </select>

    <insert id="insertCncls">
        INSERT INTO vr.tn_vr_cncls (
            vr_id, data_qlty_eval, mtrlty_eval, er_cncls, eucr_cncls, judg_cn,
            indep_review_cn, indep_review_user_nm, final_opnn_cd,
            frst_reg_dt, frst_reg_user_id, last_chg_dt, last_chg_user_id
        ) VALUES (
            #{vrId}, #{dataQltyEval}, #{mtrltyEval}, #{erCncls}, #{eucrCncls}, #{judgCn},
            #{indepReviewCn}, #{indepReviewUserNm}, #{finalOpnnCd},
            NOW(), #{frstRegUserId}, NOW(), #{lastChgUserId}
        )
    </insert>

    <update id="updateCncls">
        UPDATE vr.tn_vr_cncls
        SET data_qlty_eval       = #{dataQltyEval},
            mtrlty_eval          = #{mtrltyEval},
            er_cncls             = #{erCncls},
            eucr_cncls           = #{eucrCncls},
            judg_cn              = #{judgCn},
            indep_review_cn      = #{indepReviewCn},
            indep_review_user_nm = #{indepReviewUserNm},
            final_opnn_cd        = #{finalOpnnCd},
            last_chg_dt          = NOW(),
            last_chg_user_id     = #{lastChgUserId}
        WHERE vr_id = #{vrId}
    </update>

    <delete id="deleteByVrId">
        DELETE FROM vr.tn_vr_cncls WHERE vr_id = #{vrId}
    </delete>

</mapper>
